In [1]:
import numpy as np 

import pandas as pd

In [2]:
df = pd.DataFrame() 

df['views'] = np.random.normal(100000, scale=10000, size=100) 

df['likes'] = np.random.normal(400, scale=10, size=100) 
   
df = df.astype(int) 
df

     views  likes
0    99999    396
1    89037    383
2    98155    387
3   106302    392
4   104424    390
5    98229    396
6   112588    407
7    98674    401
8    98559    402
9    83388    401
10   85962    414
11  102536    400
12  114447    396
13  113928    416
14   85158    407
15  105926    404
16   90045    401
17   89265    399
18   92999    396
19  112838    416
20  129136    404
21   93608    398
22  101397    395
23   92101    404
24   87065    386
25  106220    404
26  105109    407
27   89519    403
28  106059    410
29   87184    417
..     ...    ...
70   88607    414
71  101642    420
72   92157    394
73  114308    401
74   92947    406
75   91836    414
76  100431    386
77   87925    400
78  108542    401
79  116417    394
80   94788    397
81   78943    403
82   99681    404
83   94866    379
84  106522    390
85  101899    398
86   85634    409
87   99134    394
88   79596    420
89  102655    391
90   89249    398
91  103258    400
92  110711    394
93   88693    405
94  104381    385
95   89787    387
96  113523    387
97   95493    408
98  107895    389
99   87341    403

[100 rows x 2 columns]

In [3]:
df = df[df['views']>1000][df['likes'] >10]

In [4]:
df.head()

    views  likes
0   99999    396
1   89037    383
2   98155    387
3  106302    392
4  104424    390