In [1]:
import numpy as np 

import pandas as pd

In [2]:
df = pd.DataFrame() 

df['views'] = np.random.normal(100000, scale=10000, size=100) 

df['likes'] = np.random.normal(400, scale=10, size=100) 
   
df = df.astype(int) 
df

     views  likes
0    90006    402
1   101141    389
2    97297    403
3   117182    397
4    99637    404
5    91911    381
6    96364    392
7    86534    402
8   112479    410
9    91560    406
10   91975    382
11   98388    398
12   98681    391
13  108273    406
14  106445    418
15   98049    396
16  108137    398
17  108237    406
18   81908    396
19  105802    387
20  117977    378
21  100057    391
22  121085    384
23   82973    390
24  107846    408
25   83364    400
26  103927    401
27   96912    415
28  102334    397
29   76336    422
..     ...    ...
70   97973    403
71   79415    397
72  106552    409
73   92537    403
74   98654    396
75  104232    405
76  101558    382
77   99269    404
78  100593    379
79  116763    411
80  103357    410
81   82227    401
82   85411    400
83   88255    402
84   77712    406
85  101657    387
86   90763    407
87  105848    392
88   92325    416
89  101853    387
90  107092    411
91  101568    396
92  111597    386
93   87925    393
94  111380    415
95  100464    391
96   96382    387
97   94971    389
98  103070    410
99  110387    411

[100 rows x 2 columns]

In [3]:
df = df[df['views']>1000][df['likes'] >10]

In [4]:
df.head()

    views  likes
0   90006    402
1  101141    389
2   97297    403
3  117182    397
4   99637    404